RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ php_project/index.php?path=$1 [L,QSA]
#http://localhost:63342/php_project/index.php?path=value